      .lighter-red-background {
        background-color: rgba(255, 0, 0, 0.5); /* Light red with 50% opacity */
        color: white; /* Optional for better visibility */
      }

      .calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
        margin-top: 10px;
      }

      .calendar-header {
        font-weight: bold;
        padding: 5px;
        background-color: #f3f4f6;
        border: 1px solid #e5e7eb;
      }

      .calendar-day {
        padding: 10px;
        text-align: center;
        border: 1px solid #e5e7eb;
        cursor: pointer;
      }

      .calendar-day:hover {
        background-color: #e5e7eb;
      }

      .weekend {
        background-color: #d1d5db; /* Light gray color */
        color: #9ca3af; /* Gray text color */
        cursor: default;
      }

      .weekend:hover {
        background-color: #d1d5db;
      }

      .excluded {
        background-color: #d1d5db; /* Light gray color */
        color: #9ca3af; /* Gray text color */
        cursor: default; /* Default cursor for excluded days */
      }

      .excluded:hover {
        background-color: #d1d5db;
      }

      .not-available {
        background-color: #f87171; /* Red for not available */
        color: white;
      }

      /* Responsive styles */
      @media (max-width: 768px) {
        .calendar-day {
          padding: 5px;
        }
      }

